<div class="container-fluid">

  <div class="container jumbotron">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Key Pair">
        <ng-template ngbPanelContent>
          <ul>
            <li><label for="">Public key:</label>fekjdns</li>
            <li><label for="">Private key:</label>fekjdns</li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div class="container">
    <div class="col-2 offset-5">
      <button class="btn btn-lg btn-outline-primary" (click)="generate()">Generate</button>
    </div>
  </div>
</div>
